* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    background-color: #ff4015;
    color: #f0f8ff;
    border-radius: 15px;
    cursor: pointer;
}